<!DOCTYPE html>
<html>
<head>
  <title>Frontend</title>
</head>
<body>
  <h1>Welcome to Frontend</h1>
  <ul>
    <li><a href="/form">Submit Form</a></li>
    <li><a href="/todo">To-do List</a></li>
  </ul>
</body>
</html>
